*{
    box-sizing: border-box;
}
html{
    display: flex;
}
body{
   display: grid;
   width: 100vw;
   margin: 0;
   padding: 0;
}
.red{
    font-size: 20px;
    background: red;
    display: inline-block;
    text-align: center;
    width: 45px;
    color: white;
    padding: 4px;
    border-radius: 10px;
}
.green{
    font-size: 20px;
    background: rgb(6, 202, 6);
    display: inline-block;
    text-align: center;
    width: 45px;
    color: white;
    padding: 4px;
    border-radius: 10px;
}
.yellow{
    font-size: 20px;
    background: yellow;
    display: inline-block;
    text-align: center;
    width: 45px;
    padding: 4px;
    border-radius: 10px;
}